<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/DharmikDodiya/Django-blog@main/myproject/myapp/static/myapp/css/main.css"
    />
  </head>
  <body class="register-body">
    <div class="register-container">
      <h1>Register</h1>
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
      </div>
      {% endfor %} {% endif %} {% if form.errors %}
      <div class="alert alert-danger">
        <ul class="mb-0">
          {% for field in form %} {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <form method="POST" action="{% url 'register_user' %}">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password1"
          placeholder="Password"
          required
        />
        <input
          type="password"
          name="password2"
          placeholder="Confirm Password"
          required
        />
        <button type="submit">Register</button>
      </form>
      <a href="{% url 'login' %}">Already have an account? Login</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/DharmikDodiya/Django-blog@main/myproject/myapp/static/myapp/js/main.js"></script>
  </body>
</html>
